# .net
back/bin/
back/obj/
back/*.log
back/*.tmp
back/appsettings.json
back/appsettings.Development.json
back/node_modules/
back/packages/
back/*.exe
back/*.dll
back/*.pdb
back/*.cache
back/*.zip
back/*.rar
back/*.gz
back/*.tar.gz
back/*.7z
back/*.vsidx
back/.vscode/
back/.idea/
back/*.suo
back/*.user
back/*.sln.docstates
back/*.cache
back/.cache/
back/app.db
back/ANOTATIONS.md
back/Uploads/
back/Uploads/.*
back/.vs/

# reactjs
# Logs
front/.env
front/logs
front/*.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/lerna-debug.log*

front/node_modules
front/dist
front/dist-ssr
front/*.local

# Editor directories and files
front/.vscode/*
front/!.vscode/extensions.json
front/.idea
front/.DS_Store
front/*.suo
front/*.ntvs*
front/*.njsproj
front/*.sln
front/*.sw?
